@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.hidden {
  display: none;
}

@layer base{
  body,
  header,
  footer {
    @apply font-commitmono;
    @apply text-white;
  }
  
  html{
    @apply bg-black/90;
    @apply scroll-smooth;
  }

  @font-face {
    font-family: "Skyscrapers";
    src: url("../public/fonts/Skyscrapers.ttf");
  }
  @font-face {
    font-family: "Boiling-BlackDemo";
    src: url("../public/fonts/BoilingDemo/Boiling-BlackDemo.ttf");
  }
  @font-face {
    font-family: "CommitMono-Regular-400";
    src: url("../public/fonts/commit_mono/CommitMono-400-Regular.otf");
  
  }
}

