---
import Link from "@components/Link.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="container mx-auto xl:px-96 px-4">
    <div class="my-16 text-center">
      <h1 class="text-4xl font-bold xl:text-6xl">404</h1>
      <p class="mb-2 mt-6">Not found</p>
      <p class="">Oops something went wrong. We couldn't find your page.</p>
    </div>
  </main>
</BaseLayout>
