---
import Link from "@components/Link.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="container mx-auto xl:px-96 px-4">
    <div class="my-16 text-center">
      <h1 class="text-4xl font-bold xl:text-6xl">About me</h1>
      <p class="mb-2 mt-6">Software Engineer, Cyclist, Photographer.</p>
      <p class="">Or at least trying to.</p>
    </div>
    <div class="prose-md prose-invert mx-auto py-12 text-center xl:prose-lg">
      <p>
        Hi, I'm Fran, a software engineer with a passion for cycling and
        photography. This blog is my journey of exploration and discovery, where
        I share personal reflections, experiences from my rides, and the moments
        I capture through my lens. I aim to offer value through thoughtful
        insights on life, practical tips on software development, and
        recommendations for books and music that inspire me. Join me as we
        explore these passions and find new ways to enrich our lives together.
      </p>
    </div>
    <div class="text-center">
      <h1 class="py-10 text-3xl lg:text-4xl font-semibold">Profesional Background</h1>
	  <p>I don’t want this blog to serve as my portfolio, but you can view my background <Link href="https://franperezfolgado.netlify.app/" target="_blank" text="here" class="underline"></p>
    </div>
  </main>
</BaseLayout>
