---
import { SITE_TITLE } from "@consts";
import Link from "./Link.astro";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  OpenIcon,
  CloseIcon,
} from "astro-navbar";
import FooterTitle from "./FooterTitle.astro";
---

<footer class="mt-32 py-16">
  <div class="container mx-auto px-4 text-center md:text-left">
    <div
      class="grid grid-cols-2 gap-8 md:grid-cols-4 md:gap-16 lg:gap-24 xl:gap-36"
    >
      <div class="col-span-2 md:col-span-2">
        <h2 class="mb-4 font-blackdemo text-2xl">RodeAgain</h2>
        <p class="text-sm leading-snug">
          Join me each week as I explore new trails, capturing the world through
          photography, sharing personal reflections, curated music, and
          inspiring book recommendations. Let's ride, reflect, and discover
          together.
        </p>
      </div>
      <div class="col-span-1">
        <FooterTitle text="Navigation" />
        <nav>
          <Link href="/" text="Home" class="block" />
          <Link href="/about" text="About" class="block" />
          <Link href="/blog" text="Gallery" class="block" />
        </nav>
      </div>

      <div class="col-span-1">
        <FooterTitle text="Social" />
        <nav>
          <Link
            href="https://x.com/fp__code"
            text="X"
            target="_blank"
            class="block"
          />
          <Link
            href="https://twitter.com/rodeagain_"
            text="Instagram"
            target="_blank"
            class="block"
          />
        </nav>
      </div>
    </div>
  </div>
</footer>

