---
import { SITE_TITLE } from "@consts";
import Link from "./Link.astro";
import { Astronav, MenuItems, MenuIcon,  OpenIcon, CloseIcon } from "astro-navbar";


---

<footer class="lg:flex justify-start p-10 gap-5 mx-auto container w-3/4 max-w-7xl md:justify-center md:w-1/2 ">

  <div class="flex flex-col gap-5 max-w-sm p-10 md:items-center md:pt-10">
    <h2 class="text-2xl font-blackdemo">RodeAgain</h2>
    <p class="text-sm font-semibold opacity-70 prose text-white">Join me each week as I explore new trails, capturing the world through photography, sharing personal reflections, curated music, and inspiring book recommendations. Let's ride, reflect, and discover together.</p>
  </div>

  <div class="flex flex-col gap-5 pr-10 md:items-center md:pt-10">
    <h2 class="text-xl font-bold">Navigation</h2>
    <Link href="/" text="Home"/>
    <Link href="/about" text="About" />
    <Link href="/blog" text="Blog" />
    <Link href="/blog" text="Gallery" />

  </div>

  <div class="flex flex-col gap-3 pr-5 md:items-center md:pt-10">
    <h2 class="text-xl font-bold">Topics</h2>
    <Link href="/" text="Home"/>
    <Link href="/about" text="About" />
    <Link href="/blog" text="Blog" />
    <Link href="/gallery" text="Gallery" />
  </div>

  <div class="flex flex-col gap-5 pr-10 md:items-center md:pt-10" >
    <h2 class="text-xl font-bold">Social</h2>
    <Link href="https://x.com/fp__code" text="X" />
    <Link href="https://twitter.com/rodeagain_" text="Instagram" />

</footer>
