---
import { SITE_TITLE } from "@consts";
import Link from "./Link.astro";
import {
  Astronav,
  MenuItems,
  MenuIcon,
  OpenIcon,
  CloseIcon,
} from "astro-navbar";
import FooterTitle from "./FooterTitle.astro";
---

<footer class="mt-32 py-16">
  <div class="container mx-auto px-4 text-center md:text-left">
    <div
      class="grid grid-cols-2 gap-8 md:grid-cols-4 md:gap-16 lg:gap-24 xl:gap-36"
    >
      <div class="col-span-2 md:col-span-2">
        <h2 class="mb-4 font-blackdemo text-2xl">RodeAgain</h2>
        <p class="text-sm leading-snug">
          Join me each week as I explore new trails, capturing the world through
          photography, sharing personal reflections, curated music, and
          inspiring book recommendations. Let's ride, reflect, and discover
          together.
        </p>
      </div>
      <div class="col-span-1">
        <FooterTitle text="Navigation" />
        <nav>
          <Link href="/" text="Home" class="block" />
          <Link href="/about" text="About" class="block" />
          <Link href="/blog" text="Gallery" class="block" />
        </nav>
      </div>

      <div class="col-span-1">
        <FooterTitle text="Social" />
        <nav>
          <Link
            href="https://x.com/fp__code"
            text="X"
            target="_blank"
            class="block"
          />
          <Link
            href="https://twitter.com/rodeagain_"
            text="Instagram"
            target="_blank"
            class="block"
          />
        </nav>
      </div>
    </div>
  </div>
</footer>
<!-- footer class="lg:flex lg:justify-center md:justify-center  p-10 gap-5 mx-auto container w-full max-w-7xl md:w-1/2 ">

  <div class="flex flex-col gap-5 max-w-sm p-10 md:items-center md:pt-10">
    <h2 class="text-2xl font-blackdemo">RodeAgain</h2>
    <p class="text-sm font-semibold opacity-70 prose text-white">Join me each week as I explore new trails, capturing the world through photography, sharing personal reflections, curated music, and inspiring book recommendations. Let's ride, reflect, and discover together.</p>
  </div>

  <div class="flex flex-col gap-5 pr-10 md:items-center md:pt-10">
    <h2 class="text-xl font-bold">Navigation</h2>
    <Link href="/" text="Home"/>
    <Link href="/about" text="About" />
    <Link href="/blog" text="Blog" />
    <Link href="/blog" text="Gallery" />

  </div>

  <div class="flex flex-col gap-3 pr-5 md:items-center md:pt-10">
    <h2 class="text-xl font-bold">Topics</h2>
    <Link href="/" text="Home"/>
    <Link href="/about" text="About" />
    <Link href="/blog" text="Blog" />
    <Link href="/gallery" text="Gallery" />
  </div>

  <div class="flex flex-col gap-5 pr-10 md:items-center md:pt-10" >
    <h2 class="text-xl font-bold">Social</h2>
    <Link href="https://x.com/fp__code" text="X" target="_blank"/>
    <Link href="https://twitter.com/rodeagain_" text="Instagram" target="_blank" />

</footer>
 -->
