---
import { SITE_TITLE } from "@consts";
import Link from "./Link.astro";
import { Astronav, MenuItems, MenuIcon,  OpenIcon, CloseIcon } from "astro-navbar";

---

<header class="lg:flex justify-between p-5 gap-5 mx-auto container w-full">

<Astronav closeOnClick>
 
  <div class="flex w-full lg:w-auto justify-between">
    <a class="font-blackdemo text-4xl font-bold" href="/">{SITE_TITLE}</a>    
    <div class="block lg:hidden pt-5">
      <MenuIcon class="w-4 h-4 text-white" />
    </div>
 </div>
 <MenuItems class="hidden lg:flex text-sm">
  
  <ul class="flex flex-col lg:flex-row lg:gap-5">
     <li>
      <Link href="/" text="Home" class="pl-5 pr-5"/>
     </li>
     <li>
      <Link href="/about" text="About" class="pl-5 pr-5" />
    </li>
     <li>
      <Link href="/gallery" text="Gallery" class="pl-5 pr-5"/>
    </li>
  </ul>
 </MenuItems>
</Astronav>

</header>
